@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  width: 375px;
  margin: auto;
}

section {
  @apply p-12;
}

h1 {
  @apply font-heading uppercase text-v-l-grey text-4xl my-8;
}

.description {
  @apply text-trans-white fm:mb-16;
}

.learn {
  @apply bg-v-l-grey mt-8 py-2 px-6 rounded-3xl border-v-l-grey border-2 hover:text-v-l-grey;
}

.attribution a {
  @apply text-b-orange;
}


@media(min-width:1440px) {
  main {
    width: 61.5rem;
  }
}